# کتابخانه‌های قبلی (هفته اول)
fastapi
uvicorn
pydantic

# کتابخانه‌های جدید (هفته دوم)
pandas
numpy
scikit-learn
nltk
prefect
mlflow
joblib
pyyaml
matplotlib
seaborn
pytest

# ابزارهای کمکی
python-multipart
typing-extensions