    # مدل‌ها و فایل‌های باینری
    models/*.pkl
    archive/*.pkl
    
    # دیتای خام و پردازش شده (چون با DVC مدیریت می‌شوند)
    data/raw/IMDB-Dataset.csv
    data/processed/*
    
    # فایل‌های موقت داکر و سیستم‌عامل
    __pycache__/
    .DS_Store
    .env
